In [4]:


def total():

    price1 = 100
    price2 = 200
    return price1 + price2

tax = 1.1

print (total() * tax)

330.0

In [5]:
price1 = 100
price2 = 200

def total():
    return price1 + price2

tax = 1.1

print (total() * tax)

330.0